In [1]:
import pandas as pd
import numpy as np
from tensorflow import keras
from sklearn.model_selection import train_test_split
# Load the data from a CSV file
df = pd.read_csv('boston_housing.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [2]:
 df.shape

(506, 14)

In [3]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [4]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    float64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [5]:
X = df.drop(['medv'], axis=1).values
y = df['medv'].values
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
model = keras.Sequential([
keras.layers.Dense(units=1, input_shape=[13])
])
# Compile the model with a mean squared error loss function and an optimizer
model.compile(loss='mean_squared_error', optimizer='adam')

In [7]:
history = model.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=10, verbose=0)
# Evaluate the model on the testing data
test_loss = model.evaluate(X_test, y_test,verbose = 0)
# Print the test loss
print('Test loss:', test_loss)

Test loss: 58.02410888671875

In [8]:
predictions = model.predict(X_test)
for i in range(10):
    print(f'Actual price: {y_test[i]}, Predicted price: {predictions[i][0]}')

Actual price: 23.6, Predicted price: 25.44068145751953
Actual price: 32.4, Predicted price: 27.18838882446289
Actual price: 13.6, Predicted price: 29.16155242919922
Actual price: 22.8, Predicted price: 22.758934020996094
Actual price: 16.1, Predicted price: 20.343225479125977
Actual price: 20.0, Predicted price: 24.478178024291992
Actual price: 17.8, Predicted price: 21.356121063232422
Actual price: 14.0, Predicted price: 21.36872673034668
Actual price: 19.6, Predicted price: 22.94405746459961
Actual price: 16.8, Predicted price: 24.839393615722656